{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@ContaoCore/Collector/contao.svg') }}
        <span class="sf-toolbar-value">Hints</span>
        <span class="sf-toolbar-label">
        {% if collector.isTemplateHintActive %}
            <a style="color: green;" href="">on</a>
        {% else %}
            <a href="">off</a>
        {% endif %}
        </span>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
